[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
nose = "*"
coverage = "*"
twine = "*"
freezegun = "*"

[packages]
requests = "*"

[requires]
python_version = "3.7"

[scripts]
tests = "nosetests"
tests_coverage = "nosetests --with-coverage --cover-package=hamqth"
tests_coverage_html = "nosetests --with-coverage --cover-package=hamqth --cover-html"
sdist = "python setup.py sdist"
twine_upload = "twine upload dist/*"
